/* Global variables and settings */

$mobile-width: 1024px;
$container-width: 95%;

$accent: #c0392b;
$accent-hover: #e74c3c;

$heading-font: 'Open Sans', sans-serif;
$content-font: 'Georgia', serif;

$content-color: #383434;